doctype html
html(lang="ko")
	head
		meta(charset="UTF-8")
		title 밴드이미지
		link(rel="stylesheet", href="../css/bootstrap.min.css")
	body
		.container.text-center
			h1 BAND
			.box
				img.mw-100(src=`../img/${src}.jpg`, alt=`${src}`)